<%= form_for(@invoice) do |f| %>
  <% if @invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

      <ul>
      <% @invoice.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :start_date %>
    <%= f.date_select :start_date %>
  </div>
  <div class="field">
    <%= f.label :end_date %>
    <%= f.date_select :end_date %>
  </div>
  <div class="field">
    <%= f.label :issued_date %>
    <%= f.date_select :issued_date %>
  </div>
  <div class="field">
    <%= f.label :due_date %>
    <%= f.date_select :due_date %>
  </div>
  <div class="field">
    <%= f.label :notes %>
    <%= f.text_area :notes %>
  </div>
  <% if @invoice.customer_id.blank? %>
    <%= f.label :customer_id, "Customer" %>
    <%= select("invoice", "customer_id", Customer.find_all_by_organization_id(@invoice.organization_id).collect { |p| [ p.last_name + ", " + p.first_name, p.id ] }) %>
  <% else %>
    <%= hidden_field("invoice", "customer_id", :value => @invoice.customer_id) %>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>

  <%= hidden_field("invoice", "organization_id", :value => @invoice.organization_id) %>
<% end %>
