
<%= form_for(@invoice) do |f| %>
  <% if @invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

      <ul>
      <% @invoice.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :start_date %>
    <%= f.date_select :start_date %>
  </div>
  <div class="field">
    <%= f.label :end_date %>
    <%= f.date_select :end_date %>
  </div>
  <div class="field">
    <%= f.label :issued_date %>
    <%= f.date_select :issued_date %>
  </div>
  <div class="field">
    <%= f.label :due_date %>
    <%= f.date_select :due_date %>
  </div>
  <div class="field">
    <label>Amount $</label>
    <%= f.text_field :amount, :style => "width: 75px" %>
  </div>
  <div class="field">
    <label>Notes</label>
    <%= f.text_area :notes, :style => "width: 250px; height: 100px; border: 1px solid grey" %>
  </div>
  <div class="field">
    <%= f.label "Customer" %>
    <% if @invoice.customer_id.nil? == false %>
        <%= link_to @invoice.customer.first_name + " " + @invoice.customer.last_name, customer_path(@invoice.customer) %>
        <%= hidden_field("invoice", "customer_id", :value => @invoice.customer_id) %>
    <% else %>
        <% if Customer.all.count() > 0 %>
            <%= select("invoice", "customer_id", Customer.all.collect {|p| [ p.last_name + ", " + p.first_name, p.id ] }, { :include_blank => true}, { :class => "not_date" }) %>
        <% else %>
            You cannot add an invoice without any customers. <%= link_to 'Add a customer now.', new_customer_path %>
        <% end %>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
