<div class="breadcrumb">
  << <%= link_to 'INVOICES', invoices_path %>
  << <%= link_to @invoice.customer.last_name.upcase!, @invoice.customer %>
  << <%= link_to 'DETAILS', @invoice %>
</div>

<div class="list">

<h1 class="title"><%= @invoice.name %></h1>

<p class="notice"><%= notice %></p>
  
<%= render 'form' %>

</div>