<div class="breadcrumb">
  <% if @invoice.customer.nil? %>
    << <%= link_to 'INVOICES', invoices_path %>
  <% else %>
    << <%= link_to 'INVOICES', invoices_path %> << <%= link_to @invoice.customer.last_name.upcase!, @invoice.customer %>
  <% end %>
</div>

<div class="list">

<h1 class="title">Invoices</h1>

<p class="notice"><%= notice %></p>
  
<%= render 'form' %>

</div>