<h1>Thank you!</h1>

<p id="notice">You have successfully requested a hard copy of this invoice.</p>

<fieldset>
  <legend>Invoice Information</legend>
  <div class="field">
        <label>Name</label>
        <%= @invoice.name %>
    </div>

    <div class="field">
        <label>Status</label>
        <% if @status.nil? == false %>
            <% if @status.status.blank? == false %>
                <%= @status.status %>
            <% else %>
                Opened on <%= @status.updated_at.strftime("%B %e, %Y") %>
            <% end %>
        <% else %>
            Status is not available at this time.
        <% end %>
    </div>

    <div class="field">
        <label>Start date</label>
        <%= @invoice.start_date.strftime("%B %e, %Y") %>
    </div>

    <div class="field">
        <label>End date</label>
        <%= @invoice.end_date.strftime("%B %e, %Y") %>
    </div>

    <div class="field">
        <label>Issued date</label>
        <%= @invoice.issued_date.strftime("%B %e, %Y") %>
    </div>

    <div class="field">
        <label>Due date</label>
        <%= @invoice.due_date.strftime("%B %e, %Y") %>
    </div>

    <div class="field">
        <label>Amount</label>
        <%= number_to_currency(@invoice.amount) %>
    </div>

    <div class="field">
        <label>Customer</label>
        <%= @invoice.customer.first_name + " " + @invoice.customer.last_name %>
    </div>

    <fieldset style="margin-bottom: 20px">
        <legend>Items</legend>
        <% if @invoice.items.empty? == false %>
        <table>
        <% @invoice.items.each do |item| %>
          <tr>
            <% String name = item.description %>
            <td><%= item.category.name %></td>
            <td><%= name %></td>
            <% if item.horse.nil? == false %>
                <td><%= item.horse.barn_name %></td>
            <% else %>
                <td>No horse associated</td>
            <% end %>
            <td><%= number_to_currency(item.amount) %></td>
          </tr>
        <% end %>
        </table>
        <% else %>
            <p>There are no items currently associated with this invoice.</p>
        <% end %>
      </fieldset>
</fieldset>

<h4>Your invoice should arrive in the mail within the next few days.</h4>

<p>Once you receive it, please contact Alida if you have any questions.</p>

<h4>Thank you and have a great day!</h4>