<%= form_for(@horse) do |f| %>
  <% if @horse.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@horse.errors.count, "error") %> prohibited this horse from being saved:</h2>

      <ul>
      <% @horse.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :reg_name, "Registered name" %>
    <%= f.text_field :reg_name %>
  </div>
  <div class="field">
    <%= f.label :barn_name %>
    <%= f.text_field :barn_name %>
  </div>
  <div class="field">
    <%= f.label :breed %>
    <%= f.text_field :breed %>
  </div>
  <div class="field">
    <%= f.label :age %>
    <%= f.text_field :age %>
  </div>
  <div class="field">
    <%= f.label :notes %>
    <%= f.text_area :notes %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

  <%= hidden_field("horse", "organization_id", :value => @horse.organization_id) %>
  <%= hidden_field("horse", "customer_id", :value => @horse.customer_id) %>
<% end %>
