<div class="breadcrumb">
  << <%= link_to 'CUSTOMERS', customers_path %> << <%= link_to @horse.customer.last_name.upcase!, @horse.customer %>
</div>

<div class="list">

<% if @horse.reg_name %>
    <h1 class="title"><%= @horse.reg_name %> (<%= @horse.barn_name %>)</h1>
<% else %>
    <h1 class="title"><%= @horse.barn_name %></h1>
<% end %>

<p id="notice"><%= notice %></p>

<% if @horse.breed %>
    <label>Breed</label>
    <%= @horse.breed %>
<% end %>

<% if @horse.age %>
    <label>Age</label>
    <%= @horse.age %>
<% end %>

<% if @horse.notes %>
    <label>Notes</label>
    <%= @horse.notes %>
<% end %>

</div>