<% if session[:user][:access] == "manager" %>
    <div class="breadcrumb">
      << <%= link_to 'CUSTOMERS', customers_path %> << <%= link_to @horse.customer.last_name.upcase!, @horse.customer %>
    </div>
<% end %>

<div class="list">

<% if @horse.reg_name %>
    <h1 class="title"><%= @horse.reg_name %> (<%= @horse.barn_name %>)</h1>
<% else %>
    <h1 class="title"><%= @horse.barn_name %></h1>
<% end %>

<p id="notice"><%= notice %></p>

<% if @horse.breed.blank? == false %>
    <div class="field">
        <label>Breed</label>
        <%= @horse.breed %>
    </div>
<% end %>

<% if @horse.age.blank? == false %>
    <div class="field">
        <label>Age</label>
        <%= @horse.age %>
    </div>
<% end %>

<% if @horse.notes.blank? == false %>
    <div class="field">
        <label>Notes</label>
        <%= @horse.notes %>
    </div>
<% end %>
<br />
<%= link_to 'Edit details', edit_horse_path(@horse), :class => "link_button" %>

</div>