<div class="list">

<% if session[:user][:access] == "admin" || session[:user][:access] == "manager" %>
    <div class="breadcrumb">
      << <%= link_to 'USERS', users_path %>
      << <%= link_to 'DETAILS', user_path(@user) %>
    </div>

    <h1 class="title"><%= @user.name %></h1>
<% else %>
    <h1 class="title">Your Profile</h1>
<% end %>

  <%= form_for(@user) do |f| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :username %>
      <%= f.text_field :username %>
    </div>
    <div class="field">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <div class="actions">
      <%= f.submit 'Update' %>
    </div>

    <%= hidden_field("user", "organization_id", :value => @user.organization_id) %>
  <% end %>


</div>