<div class="list">

<h1 class="title">Users</h1>

<p class="notice"><%= notice %></p>

<div class="sub">
    <h3>Make a manager account</h3>
    <% form_for(@user, :url => :manager_from_form) do |f| %>
        <%= f.text_field :email, :value => "Email", :style => "height: 27px; margin-right: 10px" %>
        <%= f.text_field :name, :value => "Name", :style => "height: 27px; margin-right: 10px" %>
        <%= f.submit "Add account"%>
    <% end %>
</div>

<div class="sub">
    <h3>Make a customer account</h3>
    <% form_for(@user, :url => :customer_from_form) do |f| %>
        <%= select("user", "customer_id", @customers.collect { |p| [ p.last_name + ", " + p.first_name, p.id ] }) %>
        <%= f.submit "Add account"%>
    <% end %>
</div>

<% if @users.empty? == false %>
    <table class="margin_above">
        <% @users.each do |user| %>
          <tr>
            <td><%= link_to user.name, user %></td>
            <td><%= user.access.capitalize %></td>
            <td><a href="#" onclick="confirm('Are you sure you want to delete this user?', '<%= delete_user_path(user) %>')">Remove</a></td>
          </tr>
        <% end %>
    </table>
<% else %>
    <p class="currently_no">There are currently no other users in your barn.</p>
<% end %>

</div>