<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :address %>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :city %>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :state %>
    <%= select("customer", "state", @states.collect {|p| [ p, p ]}) %>
  </div>
  <div class="field">
    <%= f.label :zip %>
    <%= f.text_field :zip %>
  </div>
  <div class="field">
    <%= f.label :home, "Home phone" %>
    <%= f.text_field :home %>
  </div>
  <div class="field">
    <%= f.label :cell, "Cell phone" %>
    <%= f.text_field :cell %>
  </div>
  <div class="field">
    <%= f.label :work, "Work phone" %>
    <%= f.text_field :work %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :active %>
    <%= f.check_box :active %>
  </div>
  <div class="field">
    <%= f.label :delivery_method %>
    <%= select("customer", "delivery_method", @methods.collect {|p| [ p, p ]}) %>
  </div>
  <div class="field">
    <%= f.label :auto_invoice %>
    <%= f.check_box :auto_invoice %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

  <%= hidden_field("customer", "organization_id", :value => @customer.organization_id) %>
<% end %>
