<h1>Thank you!</h1>

<p id="notice">You have successfully changed your delivery method.</p>

<fieldset>
  <legend>Customer Information</legend>
    <div class="field">
    <label>First name:</label>
    <%= @customer.first_name %>
  </div>

  <div class="field">
    <label>Last name:</label>
    <%= @customer.last_name %>
  </div>

  <div class="field">
    <label>Address:</label>
    <%= @customer.address %>
  </div>

  <div class="field">
    <label>City:</label>
    <%= @customer.city %>
  </div>

  <div class="field">
    <label>State:</label>
    <%= @customer.state %>
  </div>

  <div class="field">
    <label>Zip:</label>
    <%= @customer.zip %>
  </div>

  <div class="field">
    <label>Phone:</label>
    <%= number_to_phone(@customer.phone, :area_code => true) %>
  </div>

  <div class="field">
    <label>Email:</label>
    <% if @customer.email.blank? == false %>
        <%= @customer.email %>
    <% else %>
        No email available.
    <% end %>
  </div>
</fieldset>

<p>
  If at any point if you decide you'd rather start receiving your invoices via email, just <a href="mailto:lhfapps@ptd.net">contact Alida</a> and we'll get everything set up for you.
</p>

<p>
  Have a great day!
</p>