<%= form_for @invoice, :url => :customer_builder do |f| %>
    <fieldset style="margin-bottom: 20px">
        <legend>Customers</legend>
        <p class="notes">Select all customers for whom an invoice with the details below should be created.</p>
        <% if @customers.empty? == false %>
            <table>
                <% @customers.each do |customer| %>
                    <tr>
                        <td><%= check_box_tag('[customer_id][]', customer.id, false)%></td>
                        <%= hidden_field_tag '[customer_id][]', 0 %>
                        <td><%= customer.last_name + ", " + customer.first_name%></td>
                    </tr>
                <% end %>
            </table>
        <% else %>
            You don't have any customers!
        <% end %>
    </fieldset>

    <fieldset>
        <legend>Invoice Information</legend>
        <% if @invoice.errors.any? %>
            <div id="error_explanation">
                <h2><%= pluralize(@invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>
                <ul>
                    <% @invoice.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                    <% end %>
                </ul>
            </div>
        <% end %>

          <div class="field">
            <%= f.label :name %>
            <%= f.text_field :name %>
          </div>
          <div class="field">
            <%= f.label :start_date %>
            <%= f.date_select :start_date %>
          </div>
          <div class="field">
            <%= f.label :end_date %>
            <%= f.date_select :end_date %>
          </div>
          <div class="field">
            <%= f.label :issued_date %>
            <%= f.date_select :issued_date %>
          </div>
          <div class="field">
            <%= f.label :due_date %>
            <%= f.date_select :due_date %>
          </div>
          <%= hidden_field("invoice", "amount", :value => "0") %>
          <%= hidden_field("invoice", "customer_id", :value => "0") %>
          <div class="actions">
            <%= f.submit "Create Invoices" %>
          </div>
    </fieldset>
<% end %>