<div class="list">

<h1 class="title">Customers</h1>

<p class="notice"><%= notice %></p>

<% if session[:user][:organization_id] %>
    <%= link_to 'Add a new customer', new_customer_path, :class => "add_link" %>

    <% if @customers.empty? == false %>
        <table class="margin_above">
            <% @customers.each do |customer| %>
              <tr>
                <td><%= link_to customer.last_name + ", " + customer.first_name, customer %></td>
                <td><%= customer.city + ", " + customer.state %></td>
                <% if customer.email.blank? == false %>
                    <td><%= link_to 'Send email', 'mailto:' + customer.email %></td>
                <% else %>
                    <td>No email address</td>
                <% end %>
                <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
                <td><a href="#" onclick="confirm('Are you sure you want to delete this customer?', '<%= delete_customer_path(customer) %>')">Remove</a></td>
              </tr>
            <% end %>
        </table>
    <% else %>
        <p class="currently_no">There are currently no customers.</p>
    <% end %>
<% else %>
    <p class="currently_no">You can't start adding customers until you get your barn information entered. <%= link_to 'Click here', new_organization_path %> to do that now.</p>
<% end %>

</div>