<div class="breadcrumb">
  << <%= link_to 'CUSTOMERS', customers_path %>
</div>

<div class="list">

<h1 class="title"><%= @customer.first_name %> <%= @customer.last_name %></h1>

<p id="notice"><%= notice %></p>

<div class="field">
    <label style="clear: left">Active</label>
    <% if @customer.active != 0 %>
        YES<br />
    <% else %>
        NO<br />
    <% end %>
</div>

<div class="field">
    <label style="clear: left">Contact</label>
    <%= @customer.address %>
    <br />
    <label style="clear: left">&nbsp;</label>
    <%= @customer.city %>, <%= @customer.state %> <%= @customer.zip %>
</div>

<% if @customer.home.blank? == false %>
    <div class="field">
        <label style="clear: left">Home phone</label>
        <%= number_to_phone(@customer.home, :area_code => true) %>
        <br />
    </div>
<% end %>

<% if @customer.cell.blank? == false %>
    <div class="field">
        <label style="clear: left">Cell phone</label>
        <%= number_to_phone(@customer.cell, :area_code => true) %>
        <br />
    </div>
<% end %>

<% if @customer.work.blank? == false %>
    <div class="field">
        <label style="clear: left">Work phone</label>
        <%= number_to_phone(@customer.work, :area_code => true) %>
        <br />
    </div>
<% end %>

<% if @customer.email.blank? == false %>
    <div class="field">
        <label style="clear: left">Email</label>
        <%= link_to @customer.email, "mailto:" + @customer.email %>
        <br />
    </div>
<% end %>

<div class="field">
    <label style="clear: left">Invoice delivery</label>
    <%= @customer.delivery_method %>
</div>

<div class="field" style="margin-bottom: 20px">
    <label style="clear: left">Automatic invoices</label>
    <% if @customer.auto_invoice != 0 %>
        YES<br />
    <% else %>
        NO<br />
    <% end %>
</div>

  <%= link_to 'Edit details', edit_customer_path(@customer), :class => "link_button" %>
  <a href="#" onclick="confirm('Are you sure you want to delete this customer?', '<%= delete_customer_path(@customer) %>')" class="link_button">Remove</a>

  <div class="sub">
    <h2 class="sub_title">Horses</h2>
    <%= link_to 'Add a new horse', new_horse_path(:customer => @customer.id), :class => "add_link" %>
    <% if @customer.horses.empty? == false %>
        <table class="margin_above">
          <% @customer.horses.each do |horse| %>
            <% display = nil
               if horse.reg_name
                 display = horse.reg_name + " (" + horse.barn_name + ")"
               else
                 display = horse.barn_name
               end
            %>
            <tr>
                <td><%= display %></td>
                <td><%= link_to 'Edit', edit_horse_path(horse) %></td>
                <td><a href="#" onclick="confirm('Are you sure you want to delete this horse?', '<%= delete_horse_path(horse) %>')">Remove</a></td>
            </tr>
          <% end %>
        </table>
    <% else %>
        <p class="currently_no">This customer does not currently have any horses.</p>
    <% end %>
  </div>

  <div class="sub">
    <h2 class="sub_title">Invoices</h2>
    <%= link_to 'Add a new invoice', new_invoice_path(:customer => @customer.id), :class => "add_link" %>
    <% if @customer.invoices.empty? == false %>
        <table class="margin_above">
          <% @customer.invoices.each do |invoice| %>
            <tr>
                <td><%= link_to invoice.name, invoice %></td>
                <td>Due <%= invoice.start_date.strftime("%B %e, %Y") %></td>
                <td><%= link_to 'Edit', edit_invoice_path(invoice) %></td>
                <td><a href="#" onclick="confirm('Are you sure you want to delete this invoice?', '<%= delete_invoice_path(invoice) %>')">Remove</a></td>
            </tr>
          <% end %>
        </table>
    <% else %>
        <p class="currently_no">This customer does not currently have any invoices.</p>
    <% end %>
  </div>

  <div class="sub">
    <h2 class="sub_title">Auto items</h2>
    <%= link_to 'Add a new auto item', new_auto_path(:customer => @customer.id), :class => "link_button" %>
    <% if @customer.autos.empty? == false %>
        <table class="margin_above">
          <% @customer.autos.each do |auto| %>
            <tr>
                <td><%= auto.category.category %> - <%= auto.category.name %></td>
                <td><%= auto.description %></td>
                <td><%= number_to_currency(auto.amount) %></td>
                <td><%= link_to 'Edit', edit_auto_path(auto) %></td>
                <td><a href="#" onclick="confirm('Are you sure you want to delete this auto item?', '<%= delete_auto_path(auto) %>')">Remove</a></td>
            </tr>
          <% end %>
        </table>
    <% else %>
        <p class="currently_no">This customer does not currently have any documents.</p>
    <% end %>
  </div>

  <div class="sub">
    <h2 class="sub_title">Documents</h2>
    <%= link_to 'Add a new document', new_document_path(:customer => @customer.id), :class => "link_button" %>
    <% if @customer.documents.empty? == false %>
        <table class="margin_above">
          <% @customer.documents.each do |document| %>
            <tr>
                <td><%= link_to document.description, document %></td>
                <td><%= link_to 'Edit', edit_document_path(document) %></td>
                <td><a href="#" onclick="confirm('Are you sure you want to delete this document?', '<%= delete_document_path(document) %>')">Remove</a></td>
            </tr>
          <% end %>
        </table>
    <% else %>
        <p class="currently_no">This customer does not currently have any documents.</p>
    <% end %>
  </div>

</div>