<% if session[:user] %>

    <div class="full_centered">
      <h1 class="title">Welcome!</h1>
      <p>Some shit about stuff you should try, etc.</p>
    </div>

<% else %>

    <div class="full_centered">
      <h1 class="title">Welcome!</h1>
      <p>You've found the future home of a comprehensive billing and invoice management application,
         designed to help equine professionals (barn owners, barn managers, trainers and more)
         maintain all of their records as easily as the <b>chubby pony</b> in your field maintains his weight.</p>
      <p>We're not up and running yet, but if you're interested and would like to be updated as we make progress,
         feel free to leave your email address and we'll keep you posted. No spam, promise!</p>
         <div id="signup">
            <%= form_for(@potential, :url => :signup) do |f| %>
                <% if @potential.errors.any? %>
                    <div id="signup_error_explanation">
                        <ul>
                        <% @potential.errors.each_with_index.each do |msg, i| %>
                            <li><%= msg[1] %></li>
                        <% end %>
                        </ul>
                    </div>
                <% end %>
                <div id="signup_form">
                    <% if notice.blank? == false %>
                        <p id="notice"><%= notice %></p>
                    <% end %>
                    <% if @warning.blank? == false %>
                        <p id="warning"><%= @warning %></p>
                    <% end %>
                    <%= f.text_field :email, :value => "me@example.com", :class => "signup_text" %>
                    <%= f.submit "SUBMIT", :class => "signup_button" %>
                </div>
            <% end %>
           </div>
    </div>

<% end %>