<% if session[:user][:access] == "manager" %>
    <div class="breadcrumb">
      << <%= link_to 'BINDER', documents_path %>
      <% if @document.customer.nil? == false %>
        << <%= link_to @document.customer.last_name.upcase!, @document.customer %>
      <% end %>
      <% if @document.horse.nil? == false %>
        << <%= link_to @document.horse.barn_name.upcase!, @document.horse %>
      <% end %>
      << <%= link_to 'DETAILS', @document %>
    </div>
<% end %>

<div class="list">

<h1 class="title"><%= @document.description %></h1>

<p class="notice"><%= notice %></p>

<%= render 'form' %>

</div>