<div class="list">

<h1 class="title">Binder</h1>

<p class="notice"><%= notice %></p>

<% if session[:user][:organization_id] %>
    <%= link_to 'Add a new document', new_document_path, :class => "add_link" %>

    <% if @documents.empty? == false %>
        <table class="margin_above">
            <% @documents.each do |document| %>
              <tr>
                <td><%= link_to document.description, document %></td>
                <% if document.customer.nil? == false %>
                    <td><%= document.customer.last_name %>, <%= document.customer.first_name %></td>
                <% else %>
                    <td>No customer</td>
                <% end %>
                <% if document.horse.nil? == false %>
                    <td><%= document.horse.barn_name %></td>
                <% else %>
                    <td>No horse</td>
                <% end %>
                <td><%= link_to 'Edit', edit_document_path(document) %></td>
                <td><a href="#" onclick="confirm('Are you sure you want to delete this document?', '<%= delete_document_path(document) %>')">Remove</a></td>
              </tr>
            <% end %>
        </table>
    <% else %>
        <p class="currently_no">There are currently no documents in your binder.</p>
    <% end %>
<% else %>
    <p class="currently_no">You can't start adding documents until you get your barn information entered. <%= link_to 'Click here', new_organization_path %> to do that now.</p>
<% end %>

</div>