<div class="breadcrumb">
  << <%= link_to "BINDER", documents_path %>
  <% if @document.customer.nil? == false %>
    << <%= link_to @document.customer.last_name.upcase, @document.customer %>
  <% end %>
  <% if @document.horse.nil? == false %>
    << <%= link_to @document.horse.barn_name.upcase, @document.horse %>
  <% end %>
</div>

<div class="list">

<h1 class="title"><%= @document.description %></h1>

<p id="notice"><%= notice %></p>

<div class="field">
    <label>Notes</label>
    <% if @document.notes.blank? == false %>
        <%= @document.notes %>
    <% else %>
        This document does not have any notes.
    <% end %>
</div>

<% if @document.customer.nil? == false %>
<div class="field">
    <label>Customer</label>
    <%= link_to @document.customer.first_name + " " + @document.customer.last_name, @document.customer %>
</div>
<% end %>

<% if @document.horse.nil? == false %>
<div class="field">
    <label>Horse</label>
    <% if @document.horse.reg_name.blank? == false %>
        <%= link_to @document.horse.reg_name + " (" + @document.horse.barn_name + ")", horse_path(@document.horse) %>
    <% else %>
        <%= link_to @document.horse.barn_name, horse_path(@document.horse) %>
    <% end %>
</div>
<% end %>

<div id="document_image">

    <% if @document.extension == "pdf" %>
        <iframe src="<%= @document.filename %>" height="1000px" width="900px"></iframe>
    <% else %>
        <img src="<%= @document.filename %>" />
    <% end %>

</div>

</div>