<%= form_for(@auto) do |f| %>
  <% if @auto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@auto.errors.count, "error") %> prohibited this auto from being saved:</h2>

      <ul>
      <% @auto.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :start_date %>
    <%= f.date_select :start_date %>
  </div>
  <div class="field">
    <%= f.label :end_date %>
    <%= f.date_select :end_date %>
  </div>
  <div class="field">
    <%= f.label :add_day %>
    <%= f.text_field :add_day %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :quantity %>
    <%= f.text_field :quantity %>
  </div>
  <div class="field">
    <%= f.label :amount, "Amount $" %>
    <%= f.text_field :amount %>
  </div>
  <% if @auto.horse.nil? %>
      <div class="field">
        <%= f.label :horse_id, "Horse" %>
        <%= select("auto", "horse_id", Horse.find_all_by_customer_id(@auto.customer).collect {|p| [ p.barn_name, p.id ]}, :include_blank => true) %>
      </div>
  <% else %>
      <%= hidden_field("auto", "horse_id", :value => @auto.horse_id) %>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>

  <%= hidden_field("auto", "customer_id", :value => @auto.customer_id) %>
<% end %>
