<h1>Listing autos</h1>

<table>
  <tr>
    <th>Start date</th>
    <th>End date</th>
    <th>Add day</th>
    <th>Description</th>
    <th>Quantity</th>
    <th>Amount</th>
    <th>Customer</th>
    <th>Horse</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @autos.each do |auto| %>
  <tr>
    <td><%= auto.start_date %></td>
    <td><%= auto.end_date %></td>
    <td><%= auto.add_day %></td>
    <td><%= auto.description %></td>
    <td><%= auto.quantity %></td>
    <td><%= auto.amount %></td>
    <td><%= auto.customer_id %></td>
    <td><%= auto.horse_id %></td>
    <td><%= link_to 'Show', auto %></td>
    <td><%= link_to 'Edit', edit_auto_path(auto) %></td>
    <td><%= link_to 'Destroy', auto, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Auto', new_auto_path %>
