<div class="breadcrumb">
  << <%= link_to 'INVOICE', @payment.invoice %>
</div>

<div class="list">
    <h3>Thank you for your payment!</h3>

    <div class="sub">
        <p>Your payment of <%= number_to_currency(@payment.amount)%> was successfully submitted.</p>

        <p>For your records, your transaction ID is <%= @payment.transaction_id %>.</p>

        <p><%= link_to 'Print PDF of this receipt', payment_receipt_path(@payment, :format => :pdf) %></p>
    </div>

    <div style="height: 20px">&nbsp;</div>
    <%= link_to "Return to invoice", @invoice, :class => "link_button" %>
    <div style="height: 20px">&nbsp;</div>
</div>