<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :category_id %>
    <%= select("item", "category_id", Category.find_all_by_organization_id(@item.organization_id).collect {|p| [ p.category + " - " + p.name, p.id ]}) %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :quantity %>
    <%= f.text_field :quantity %>
  </div>
  <div class="field">
    <%= f.label :amount %>
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label :horse_id, "Horse" %>
    <% if @horses.empty? == false %>
        <%= select("item", "horse_id", @horses.collect { |p| [ p.barn_name, p.id ] }, :include_blank => true) %>
    <% else %>
        This customer does not have any horses.
        <%= hidden_field("item", "horse_id", :value => 0) %>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

  <%= hidden_field("item", "organization_id", :value => @item.organization_id) %>
  <%= hidden_field("item", "customer_id", :value => @item.customer_id) %>
  <%= hidden_field("item", "invoice_id", :value => @item.invoice_id) %>
<% end %>
