<div class="breadcrumb">
  << <%= link_to 'CUSTOMER', customer_path(@item.customer) %>
  << <%= link_to 'INVOICE', invoice_path(@item.invoice) %>
</div>

<div class="list">

<h1 class="title"><%= @item.invoice.name %></h1>

<p class="notice"><%= notice %></p>

<%= render 'form' %>

</div>