<!DOCTYPE html>
<html>
<head>
  <title>Snoopy</title>
  <%= stylesheet_link_tag :all %>
</head>
<body>
    <div class="popup">
        <h3>Base prices</h3>
        <table>
            <% @categories.each do |category| %>
                <tr>
                    <td><%= category.category %></td>
                    <td><%= category.name %></td>
                    <td><%= number_to_currency(category.amount) %></td>
                </tr>
            <% end %>
        </table>
        <%= link_to 'Close this window', 'javascripts:self.close()' %>
    </div>
</body>
</html>