<% if session[:user][:access] == "admin" %>
    <div class="breadcrumb">
      << <%= link_to 'ORGANIZATIONS', organizations_path %>
      << <%= link_to 'DETAILS', @organization %>
    </div>
<% end %>

<div class="list">

<% if session[:user][:admin] == "admin" %>
    <h1 class="title"><%= @organization.name %></h1>
<% else %>
    <h1 class="title">Your Barn</h1>
    <% if @organization.custom.nil? == false %>
        <%= link_to 'CUSTOMIZE YOUR INVOICES', edit_custom_path(@organization.custom), :class => "add_link" %>
    <% else %>
        <%= link_to 'CUSTOMIZE YOUR INVOICES', new_custom_path, :class => "add_link" %>
    <% end %>
<% end %>

<p id="notice" style="margin-top: 20px"><%= notice %></p>

<%= render 'form' %>

</div>